@tailwind base;

@font-face {
  font-family: 'airbnb-black';
  src: url('/fonts/AirbnbCerealBlack.woff');
  font-weight: black;
}

@font-face {
  font-family: 'airbnb-bold';
  src: url('/fonts/AirbnbCerealBold.woff');
}

@font-face {
  font-family: 'airbnb-book';
  src: url('/fonts/AirbnbCerealBook.woff');
}

@font-face {
  font-family: 'airbnb-extrabold';
  src: url('/fonts/AirbnbCerealExtraBold.woff');
}

@font-face {
  font-family: 'airbnb-light';
  src: url('/fonts/AirbnbCerealLight.woff');
}

@font-face {
  font-family: 'airbnb-medium';
  src: url('/fonts/AirbnbCerealMedium.woff');
}

body {
  @apply antialiased;
}

@tailwind components;

.scroller {
  overflow-x: scroll !important;
  overflow-y: auto !important;
  white-space: nowrap;
  scrollbar-width: thin;
  padding-bottom: 30px !important;
  margin-bottom: -30px !important;
}

.scrollable {
  position: relative;
  left: 0px;
}

@media (max-width: 639px) {
  .scrollable {
    position: relative;
    left: 15px;
  }
}

.scroller::-webkit-scrollbar {
  background-color: transparent;
}

.appearance-none {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@media (min-width: 1280px) {
  .media {
    @apply hidden;
  }
}

@tailwind utilities;
