@tailwind base;

@font-face {
  font-family: 'airbnb-black';
  src: url('/fonts/AirbnbCerealBlack.woff');
  font-weight: black;
}

@font-face {
  font-family: 'airbnb-bold';
  src: url('/fonts/AirbnbCerealBold.woff');
}

@font-face {
  font-family: 'airbnb-book';
  src: url('/fonts/AirbnbCerealBook.woff');
}

@font-face {
  font-family: 'airbnb-extrabold';
  src: url('/fonts/AirbnbCerealExtraBold.woff');
}

@font-face {
  font-family: 'airbnb-light';
  src: url('/fonts/AirbnbCerealLight.woff');
}

@font-face {
  font-family: 'airbnb-medium';
  src: url('/fonts/AirbnbCerealMedium.woff');
}

@font-face {
  font-family: 'circular-book';
  src: url('/fonts/circular-book.otf');
}

@font-face {
  font-family: 'circular-std-medium';
  src: url('/fonts/circular-std-medium.woff');
}

body {
  @apply antialiased;
}

@tailwind components;
#zoomwrapper:hover #zoom:hover {
  filter: brightness(100%);
}

#zoomwrapper:hover #zoom:not(:hover) {
  filter: brightness(70%);
}

#zoom {
  cursor: pointer;
  transition: transform 0.5s, filter 0.4s ease-in-out;
  filter: blue(2px);
  transform: scale(1.34);
}

#zoom:hover {
  filter: blur(1);
  transform: scale(1.27);
  filter: brightness(70%);
}

#pseudo {
  text-align: center;
  line-height: 0.1em;
  position: relative;
  margin: 10px 0 20px;
  background: #fff;
}

#pseudo span {
  background: #fff;
  z-index: 2;
  position: relative;
  padding: 0px 10px;
}

#pseudo::before,
#pseudo::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  height: 1px;
  width: 500px;
  background: #e2e8f0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

#hoverbox {
  transition: box-shadow 0.5s ease-in;
}

#hoverbox:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

#justify-self {
  justify-self: center;
}

#fixed {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4caf50;
}

#darkOverlay {
  background: rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.3s;
}

#centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.4s;
}

#countryinput {
  height: 54px;
  padding: 22px 15px 10px 10px !important;
}

#helpplaceholder {
  padding: 0 0 0 30px !important;
}

#helpsearch:focus {
  border: 1.5px solid #008489;
}

/* xs */
@media (min-width: 290px) {
  #quote__steps {
    position: absolute;
    top: 0px;
  }

  #quote__payment {
    position: absolute;
    top: 0px;
  }

  #quote-description {
    font-family: 'airbnb-book';
  }

  #ready {
    position: absolute;
    top: 60px;
    left: 40px;
  }

  #monthly-potential {
    position: relative;
    bottom: 0;
  }
}

/* sm */
@media (min-width: 640px) {
  #quote__steps {
    position: absolute;
    top: -10px;
  }

  #quote__payment {
    position: absolute;
    top: 20px;
  }

  #quote-description {
    font-family: 'airbnb-book';
  }

  #ready {
    position: absolute;
    top: 60px;
    left: 40px;
  }

  #monthly-potential {
    position: relative;
    bottom: 0px;
  }
}

/* md */
@media (min-width: 768px) {
  #quote__steps {
    position: absolute;
    top: -10px;
  }

  #quote__payment {
    position: absolute;
    top: 20px;
  }

  #quote-description {
    font-family: 'airbnb-book';
  }

  #ready {
    position: absolute;
    top: 80px;
    left: 110px;
  }

  #monthly-potential {
    position: relative;
    bottom: 3px;
  }
}

/* lg */
@media (min-width: 1024px) {
  #quote__steps {
    position: absolute;
    top: -40px;
  }

  #quote__payment {
    position: absolute;
    top: -40px;
  }

  #ready {
    position: absolute;
    top: 80px;
    left: 110px;
  }

  #monthly-potential {
    position: relative;
    bottom: 3px;
  }
}

/* xl
@media (min-width: 1280px) {

} */

.scroller {
  overflow-x: scroll !important;
  overflow-y: auto !important;
  white-space: nowrap;
  scrollbar-width: thin;
  padding-bottom: 30px !important;
  margin-bottom: -30px !important;
}

.scrollable {
  position: relative;
  left: 0px;
}

.scroller::-webkit-scrollbar {
  background-color: transparent;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 4000ms ease-in;
}

.register-leave {
  opacity: 1;
}

.register-leave.register-leave-active {
  opacity: 0.01;
  transition: opacity 4000ms ease-in;
}

.appearance-none {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .media {
    @apply hidden;
  }
}

@tailwind utilities;
