@tailwind base;

@font-face {
  font-family: 'airbnb-black';
  src: url('/fonts/AirbnbCerealBlack.woff');
  font-weight: black;
}

@font-face {
  font-family: 'airbnb-bold';
  src: url('/fonts/AirbnbCerealBold.woff');
}

@font-face {
  font-family: 'airbnb-book';
  src: url('/fonts/AirbnbCerealBook.woff');
}

@font-face {
  font-family: 'airbnb-extrabold';
  src: url('/fonts/AirbnbCerealExtraBold.woff');
}

@font-face {
  font-family: 'airbnb-light';
  src: url('/fonts/AirbnbCerealLight.woff');
}

@font-face {
  font-family: 'airbnb-medium';
  src: url('/fonts/AirbnbCerealMedium.woff');
}

@font-face {
  font-family: 'circular-book';
  src: url('/fonts/circular-book.otf');
}

@font-face {
  font-family: 'circular-std-medium';
  src: url('/fonts/circular-std-medium.woff');
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  /* @apply antialiased; */
  overscroll-behavior: none;
}

@tailwind components;
#zoomwrapper:hover #zoom:hover {
  filter: brightness(100%);
}

#zoomwrapper:hover #zoom:not(:hover) {
  filter: brightness(70%);
}

#zoom {
  cursor: pointer;
  transition: transform 0.5s, filter 0.4s ease-in-out;
  filter: blue(2px);
  transform: scale(1.34);
}

#zoom:hover {
  filter: blur(1);
  transform: scale(1.27);
  filter: brightness(70%);
}

#pseudo {
  text-align: center;
  line-height: 0.1em;
  position: relative;
  margin: 10px 0 20px;
  background: #fff;
}

#pseudo span {
  background: #fff;
  z-index: 2;
  position: relative;
  padding: 0px 10px;
}

#pseudo::before,
#pseudo::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  height: 1px;
  width: 500px;
  background: #e2e8f0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

#hoverbox {
  width: 480px;
  transition: box-shadow 0.5s ease-in;
}

@media (max-width: 640px) {
  #hoverbox {
    width: 90%;
    transition: box-shadow 0.5s ease-in;
  }
}

#hoverbox:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

#justify-self {
  justify-self: center;
}

#fixed {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4caf50;
}

#darkOverlay {
  background: rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.3s;
}

#centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.4s;
}

#countryinput {
  height: 54px;
  padding: 22px 15px 10px 10px !important;
}

#helpplaceholder {
  padding: 0 0 0 30px !important;
}

#helpsearch:focus {
  border: 1.5px solid #008489;
}

@media (max-width: 600px) {
  #tableSmallScreen {
    display: block;
    box-shadow: rgba(219, 219, 219, 0.4) 8px 0px 8px -4px,
      rgb(255, 255, 255) -16px 0px 8px -4px inset;
  }
}

@media (min-width: 601px) {
  #tableSmallScreen {
    display: none;
  }

  #tableShadowTop {
    position: relative;
    /* box-shadow: 0px 5px 15px -13px inset; */
  }

  #tableShadowTop::before {
    /* box-shadow: -7px 0 11px -13px inset; */
    content: ' ';
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
  }

  #tableShadowTop::after {
    /* box-shadow: 7px 0 11px -13px inset; */
    content: ' ';
    height: 100%;
    right: -15px;
    position: absolute;
    top: 0;
    width: 15px;
  }

  #tableShadowMiddle {
    position: relative;
  }

  #tableShadowMiddle::before {
    content: ' ';
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
  }

  #tableShadowMiddle::after {
    content: ' ';
    height: 100%;
    right: -15px;
    position: absolute;
    top: 0;
    width: 15px;
  }

  #tableShadowBottom {
    position: relative;
    box-shadow: 0px -5px 15px -13px inset;
  }

  #tableShadowBottom::before {
    box-shadow: -7px 0 11px -13px inset;
    content: ' ';
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
  }

  #tableShadowBottom::after {
    box-shadow: 7px 0 11px -13px inset;
    content: ' ';
    height: 100%;
    right: -15px;
    position: absolute;
    top: 0;
    width: 15px;
  }
}

/* xs */
@media (min-width: 290px) {
  #card_category {
    font-family: 'airbnb-bold';
  }
}

/* Landing Section */
@media (min-width: 640px) {
  #card_category {
    font-family: 'airbnb-medium';
  }
}

/* md */
@media (min-width: 768px) {
  #card_category {
    font-family: 'airbnb-medium';
  }
}

/* lg */
@media (min-width: 1024px) {
  #card_category {
    font-family: 'airbnb-medium';
  }
}

/* Host Homes Section */
#quote__left {
  position: absolute;
  top: 0px;
}

#quote__right {
  position: absolute;
  top: 0px;
}

/* sm */
@media (min-width: 640px) {
  #quote__left {
    position: absolute;
    top: -10px;
  }

  #quote__right {
    position: absolute;
    top: 20px;
  }

  #quote__description {
    font-family: 'airbnb-book';
  }

  #ready {
    position: absolute;
    top: 60px;
    left: 40px;
  }

  #monthly-potential {
    position: relative;
    bottom: 0px;
  }
}

/* md */
@media (min-width: 768px) {
  #card {
    position: static;
  }

  #quote__left {
    position: absolute;
    top: -10px;
  }

  #quote__right {
    position: absolute;
    top: 10px;
  }

  #quote__description {
    font-family: 'airbnb-book';
  }

  #ready {
    position: absolute;
    top: 80px;
    left: 110px;
  }

  #monthly-potential {
    position: relative;
    bottom: 3px;
  }
}

/* lg */
@media (min-width: 1024px) {
  #card {
    position: absolute;
    top: 50px;
    right: 50px;
  }

  #quote__left {
    position: absolute;
    top: -40px;
  }

  #quote__right {
    position: absolute;
    top: 70px;
  }

  #ready {
    position: absolute;
    top: 80px;
    left: 110px;
  }

  #monthly-potential {
    position: relative;
    bottom: 3px;
  }
}

/* Host Services Section */
#ready {
  position: absolute;
  top: 30px;
  left: 20px;
}

#quote__findteam {
  position: absolute;
}

/* xs */
@media (max-width: 640px) {
  #ready {
    top: 70px;
  }

  #quote__findteam {
    top: 5px;
  }
}

/* sm */
@media (min-width: 640px) {
  #ready {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  #quote__findteam {
    top: 5px;
  }
}

/* md */
@media (min-width: 768px) {
  #ready {
    position: absolute;
    top: 80px;
    left: 110px;
  }

  #quote__findteam {
    top: 5px;
  }
}

/* lg */
@media (min-width: 1024px) {
  #ready {
    position: absolute;
    top: 80px;
    left: 110px;
  }

  #quote__findteam {
    top: 70px;
  }
}

.scroller {
  overflow-x: scroll !important;
  overflow-y: auto !important;
  white-space: nowrap;
  scrollbar-width: thin;
  padding-bottom: 30px !important;
  margin-bottom: -30px !important;
}

#react-player {
  object-fit: cover;
}

@media (min-width: 640px) {
  #experiences__video {
    top: 150;
  }
}

@media (min-width: 768px) {
  #experiences__video {
    top: 0px;
  }
}

@media (min-width: 1024px) {
  #experiences__video {
    top: 30px;
  }
}

#hostexperience {
}

#hostexperience__banner::after {
  content: '';
  bottom: 1px;
  z-index: -1;
  transform: scale(0.9);
  box-shadow: 0 60px 80px -15px rgba(0, 0, 0, 0.8);
}

#hostexperience__banner-title {
  background: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hostexperience__what-bottom {
  background: rgba(0, 0, 0, 0)
    linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) repeat scroll 0% 0% !important;
}

.scrollable {
  position: relative;
  left: 0px;
}

.scroller::-webkit-scrollbar {
  background-color: transparent;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 4000ms ease-in;
}

.register-leave {
  opacity: 1;
}

.register-leave.register-leave-active {
  opacity: 0.01;
  transition: opacity 4000ms ease-in;
}

.appearance-none {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#cards-slider {
  position: relative;
}

/* #cards-slider::after {
  content: '';
  display: block;
  width: 100%;
  height: 264px;
  outline: 5px solid #4caf50;
  position: absolute;
  top: 0;
  left: 0;
} */

#cards-slider-wrapper {
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: flex;
  position: absolute;
}

#card {
  min-width: 250px;
}

#skeleton-pulse--vertical {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  border-radius: 0.3rem;
}

#skeleton-pulse--horizontal {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  border-radius: 0.6rem;
}

#exploreheader_searchbar {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.03);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 24px;
  cursor: pointer;
  padding: 0.6rem 0rem;
  transition: 0.2s;
}

#exploreheader_searchbar:hover {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

@media (max-width: 1000px) {
  #plus-logo {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #plus-location {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1001px) {
  #plus-logo {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #plus-location {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .media {
    @apply hidden;
  }
}

@tailwind utilities;
