@tailwind base;

@font-face {
  font-family: 'airbnb-black';
  src: url('/fonts/AirbnbCerealBlack.woff');
  font-weight: black;
}

@font-face {
  font-family: 'airbnb-bold';
  src: url('/fonts/AirbnbCerealBold.woff');
}

@font-face {
  font-family: 'airbnb-book';
  src: url('/fonts/AirbnbCerealBook.woff');
}

@font-face {
  font-family: 'airbnb-extrabold';
  src: url('/fonts/AirbnbCerealExtraBold.woff');
}

@font-face {
  font-family: 'airbnb-light';
  src: url('/fonts/AirbnbCerealLight.woff');
}

@font-face {
  font-family: 'airbnb-medium';
  src: url('/fonts/AirbnbCerealMedium.woff');
}

body {
  @apply antialiased;
}

@tailwind components;
#zoomwrapper:hover #zoom:hover {
  filter: brightness(100%);
}

#zoomwrapper:hover #zoom:not(:hover) {
  filter: brightness(70%);
}

#zoom {
  cursor: pointer;
  transition: transform 0.5s, filter 0.4s ease-in-out;
  filter: blue(2px);
  transform: scale(1.2);
}

#zoom:hover {
  filter: blur(1);
  transform: scale(1.1);
  filter: brightness(70%);
}

#hoverbox {
  transition: box-shadow 0.5s ease-in;
}

#hoverbox:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.scroller {
  overflow-x: scroll !important;
  overflow-y: auto !important;
  white-space: nowrap;
  scrollbar-width: thin;
  padding-bottom: 30px !important;
  margin-bottom: -30px !important;
}

.scrollable {
  position: relative;
  left: 0px;
}

.scroller::-webkit-scrollbar {
  background-color: transparent;
}

.appearance-none {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@media (min-width: 1280px) {
  .media {
    @apply hidden;
  }
}

@tailwind utilities;
