@tailwind base;

body {
  @apply antialiased;
}

@tailwind components;

.appearance-none {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@media (min-width: 1280px) {
  .media {
    @apply hidden;
  }
}

@tailwind utilities;
