@tailwind base;

body {
  @apply antialiased;
}

@tailwind components;

.appearance-none {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.border:hover::after {
  content: '';
  border-bottom: 3px solid #000;
  width: 10px;
  display: inline-block;
  margin: 0 auto;
  transition: 0.5 ease;
}

@tailwind utilities;

.color-_header {
  color: '#484848';
}
